
# Pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
#basic series in pandas

ser = pd.Series(['India', 'Sri Lanka', 'Pakisthan'])

In [4]:
ser

0        India
1    Sri Lanka
2    Pakisthan
dtype: object

In [5]:
subjects = ['Hindi', 'telugu', 'science', 'Social', 'Maths']
marks = np.array([98, 76, 66, 34, 100])

In [10]:
score = pd.Series(marks, index = subjects, name = "Ishaq's marks in 10th standard")

In [11]:
score

Hindi       98
telugu      76
science     66
Social      34
Maths      100
Name: Ishaq's marks in 10th standard, dtype: int64

In [17]:
marks = {'Hindi': [1,2,3],
        'Physics': 120
        }

In [19]:
pd.Series(marks, name='marks with dictionary')

Hindi      [1, 2, 3]
Physics          120
Name: marks with dictionary, dtype: object

## Pandas Series attributes

In [21]:
score

Hindi       98
telugu      76
science     66
Social      34
Maths      100
Name: Ishaq's marks in 10th standard, dtype: int64

In [22]:
#name

score.name

"Ishaq's marks in 10th standard"

In [24]:
#dtype

score.dtype

dtype('int64')

In [26]:
# is unique

score.is_unique

True

In [29]:
# Index
score.index

Index(['Hindi', 'telugu', 'science', 'Social', 'Maths'], dtype='object')

In [30]:
runs_series = pd.Series(np.array([12,45,34,56]))

In [32]:
runs_series.index

RangeIndex(start=0, stop=4, step=1)

In [33]:
type(runs_series.index)

pandas.core.indexes.range.RangeIndex

In [37]:
# values
runs_series.values

array([12, 45, 34, 56])

In [38]:
marks

{'Hindi': [1, 2, 3], 'Physics': 120}

In [40]:
marks.values()

dict_values([[1, 2, 3], 120])

## Read CSV

In [ ]:
pd.read_csv('')