# 450+ Practice Questions That Will Make You a Pandas, NumPy, and SQL Pro!

Author: Avi Chawla

LinkedIn: https://www.linkedin.com/in/avi-chawla/

Read my blogs here: https://medium.com/@avi_chawla

## Introduction

This notebook has been created for you to practice three of the most common tools used in building any machine learning or data science applications, i.e., Pandas, NumPy, and SQL!

The practice questions provided will serve as a great resource for those who are looking to familiarize themselves with some of the most common functions used in these tools.

Appropriate descriptions have been provided for all the questions in this entire exercise which will help you navigate through this exercise easily. If a dataset is to be loaded in the python environment, that has also been provided for you. You can find it on the right panel in the Files section. Do NOT delete any of the files/folders listed there.

The whole exercise has been divided into nine separate notebooks. Below are the links to all the other notebooks for you to jump from one notebook to another:

- **Pandas**

1. Pandas Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-1-d693ac55-6455-40cf-ae34-867c6a02014e/%2Fnotebook.ipynb) 
2. Pandas Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-dataset-7e3b6755-5d4b-464b-9b75-9c84667ae3bd/%2Fnotebook.ipynb) 

3. Pandas Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-part-2-adc5a3ee-5f61-4725-8e46-ccb07899acfc/%2Fnotebook.ipynb) 

4. Pandas Notebook 4: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-after-employee-f84e02a1-fb6a-428e-af90-8dd99855749a/%2Fnotebook.ipynb) **(This Notebook)** 

- **NumPy**

1. NumPy Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Numpy-part-1-9b9979f2-b708-4292-b466-3d0157564c91/%2Fnotebook.ipynb)

2. NumPy Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-2-4456411e-2ddd-426d-8027-4881080027db/%2Fnotebook.ipynb)

3. NumPy Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-3-e6587114-b580-4249-b599-540de859e603/%2Fnotebook.ipynb)

- **SQL**

1. SQL Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-1-eac9d782-a9b1-4e84-a1f9-af14080a6121/%2Fnotebook.ipynb)

2. SQL Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-2-1914b214-be03-44a1-be63-ad99e98be639/%2Fnotebook.ipynb)

## How to use this notebook?

At the top right corner, you will find a Duplicate button. This will allow you to create a unique notebook for your own practice and write solutions to the question listed in this notebook.

If you face any issues or have any feedback, feel free to reach out to me (Avi Chawla) either on Linkedin: https://www.linkedin.com/in/avi-chawla/ or write an email to avi@dsscholar[dot]com.

Let's begin ðŸš€!

# Pandas Notebook 4

### 151. Sort DataFrame based on another list

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col1", "col2"])

sort_list = ["C", "A", "D", "B"]

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 152. Insert a column at a specific location in a DataFrame

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

new_column = ["P", "Q", "R", "S"]
insert_position = 1 ## between col_A and col_B

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 153. Select columns based on the column's Data Type

In [ ]:
df = pd.DataFrame([["A", 1, True], ["B", 2, False],
                   ["C", 3, False], ["D", 4, True]], 
                  columns=["col_A", "col_B", "col_C"])

dt_type = "bool"

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 154. Count the number of Non-NaN cells for each column

In [ ]:
df = pd.DataFrame([["A", np.NaN], [np.NaN, 2],
                   ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 155. Split DataFrame into equal parts

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

parts = 2

## start your code below
new_df1, new_df2 = ... 
## end your code here

print(new_df1)

In [ ]:
print(new_df2)

### 156. Reverse DataFrame row-wise

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
row_reverse = ... 
## end your code here

### 157. Reverse DataFrame column-wise

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
col_reverse = ... 
## end your code here

### 158. Insert a row at an arbitrary position

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

insert_pos = 1
insert_row = ["P", 5]

## start your code below
new_df = ... 
## end your code here

### 159. Apply function to every cell of DataFrame

In [ ]:
df = pd.DataFrame([[1, 5], [2, 6],
                   [3, 7], [4, 8]], 
                  columns=["col_A", "col_B"])

def func(num):
    return num + 1

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 160. The cumulative sum of a column in DataFrame

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

### 161. Uniquely number individual group in Pandas GroupBy

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

### 162. Check if column has NaN values

In [ ]:
df = pd.DataFrame([["A", np.NaN], ["A", 2], ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
col_A_check = ... 
col_B_check = ... 
## end your code here

In [ ]:
col_A_check, col_B_check

### 163. Append a list as a row to a DataFrame

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

new_row = ["E", 5]

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 164. Identify the source of each row in Pandas Merge

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]], 
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]], 
                  columns=["col_A", "col_C"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 165. Filter n-largest values from a DataFrame

In [ ]:
df = pd.DataFrame([["A", 200], ["B", 400],
                   ["C", 100], ["D", 300]], 
                  columns=["col_A", "col_B"])

k = 2

## start your code below
largest_k = ... 
## end your code here

### 166. Filter n-smallest values from a DataFrame

In [ ]:
df = pd.DataFrame([["A", 200], ["B", 400],
                   ["C", 100], ["D", 300]], 
                  columns=["col_A", "col_B"])

k = 2

## start your code below
smallest_k = ... 
## end your code here

### 167. Map categorical data to unique integral values

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 168. Add prefix to every column name

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 169. Delete the rows that have NaN values

In [ ]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 170. Fill NaN values with 1

In [ ]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 171. Fill NaN values with column mean

In [ ]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 172. Fill NaN values with column mode

In [ ]:
df = pd.DataFrame([["A", 1], [np.NaN, 2],
                   ["A", 3], [np.NaN, 4], 
                   ["B", 5], ["C", 6]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 173. Swap two rows of a dataframe

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

# swap second and last row
row_1, row_2 = 1, 3 

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 174. Create a column "col4" that contains the 2nd largest value in each row

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 2, 9],
                   [2, 9, 3], 
                   [8, 5, 4]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 175. Replace the values on the main diagonal of the dataframe with 0

In [ ]:
df = pd.DataFrame([[4, 1, 5, 10], [5, 2, 9, 4],
                   [2, 9, 3, 1],  [1, 7, 3,10]], 
                  columns=["col_A", "col_B", "col_C", "col_D"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 176. Get the Group "A" of the dataframe by first grouping the dataframe and then using the group key.

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 177. Fetch the rows where the value in "col_C" does not belong to "col_B".

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 2, 9],
                   [2, 9, 3], 
                   [8, 5, 4]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 178. Get the rows where the value of "col_A" is equal to "col_B".

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 9],
                   [2, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 179. Get the rows where (the value of "col_A" is equal to "col_B") OR (the value of "col_A" is equal to "col_C").

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 9],
                   [2, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 180. Sort the Data on col_A and col_B

col_A -> Ascending
col_B -> Ascending

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 9],
                   [2, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 181. Sort the Data on col_A and col_B

col_A -> Ascending
col_B -> Descending

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 9],
                   [2, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 182. Get the mean of every column

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 9],
                   [2, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
mean = ... 
## end your code here

print(mean)

### 182. Get the mean of every row

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 9],
                   [2, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
mean = ... 
## end your code here

print(mean)

### 183. Concatentate the two DataFrames row-wise

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]], 
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]], 
                  columns=["col_A", "col_B"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 184. Concatentate the two DataFrames column-wise

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]], 
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]], 
                  columns=["col_C", "col_D"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 185. Change the last two values in the last column to [2,4]

Change 3 -> 2
Change 8 -> 4 

**Note: You should do this in a single line of code**

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 9],
                   [2, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 186. Replace all '1' with '2'

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 187. Replace all '1' with '2' and '5' with '6' in a single line of code

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 188. Sample 2 random rows from the DataFrame

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
sample_df = ... 
## end your code here

print(sample_df)

### 189. Convert the DataFrame to a list of lists. Don't include the header row.

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
data_list = ... 
## end your code here

print(data_list)

### 190. Add three new columns that show the cumulative sum of every column

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
data_list = ... 
## end your code here

print(data_list)

### 191. Print the cumulative sum of every row in a new column.

### In other words, make a column that stores the cumulative sum of the (sum of every row).

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 192. Find the frequency of every element in col_A

In [ ]:
df = pd.DataFrame([["A", 1, 5], 
                   ["B", 5, 1],
                   ["C", 9, 3], 
                   ["A", 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 193. Normalize the frequency of every element in col_A

In [ ]:
df = pd.DataFrame([["A", 1, 5], 
                   ["B", 5, 1],
                   ["C", 9, 3], 
                   ["A", 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 194. GroupBy col_A, then find the sum of col_B and mean of col_C

In [ ]:
df = pd.DataFrame([["A", 1, 5], 
                   ["B", 5, 1],
                   ["C", 9, 3], 
                   ["A", 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 195. Find the correlation between every pair of column

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 196. GroupBy col_A, then compute a new column as (10*col_B/col_C)

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 197. GroupBy col_A, then compute a new column as (10*col_B/col_C). Project the new column back to the original dataframe

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = ... 
## end your code here

print(new_df)

### 198. Merge the two dataframes using the join() method on col_A.

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]], 
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]], 
                  columns=["col_A", "col_C"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 199. Perform the full outer join on the two DataFrames.

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]], 
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]], 
                  columns=["col_A", "col_C"])

## start your code below
new_df = ... 
## end your code here

print(new_df)

### 200. Convert the DataFrame to a dictionary.

In [ ]:
df = pd.DataFrame([[4, 1, 5], 
                   [5, 5, 1],
                   [1, 9, 3], 
                   [8, 5, 8]], 
                  columns=["col_A", "col_B", "col_C"])


## start your code below
dict_df = ... 
## end your code here

print(dict_df)

### 201-210: As your next exercise, frame 10 questions on your own and solve them.

Great Job solving this notebook. Go to NumPy Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Numpy-part-1-9b9979f2-b708-4292-b466-3d0157564c91/%2Fnotebook.ipynb)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f84e02a1-fb6a-428e-af90-8dd99855749a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>