# 450+ Practice Questions That Will Make You a Pandas, NumPy, and SQL Pro!

Author: Avi Chawla

LinkedIn: https://www.linkedin.com/in/avi-chawla/

Read my blogs here: https://medium.com/@avi_chawla

## Introduction

This notebook has been created for you to practice three of the most common tools used in building any machine learning or data science applications, i.e., Pandas, NumPy, and SQL!

The practice questions provided will serve as a great resource for those who are looking to familiarize themselves with some of the most common functions used in these tools.

Appropriate descriptions have been provided for all the questions in this entire exercise which will help you navigate through this exercise easily. If a dataset is to be loaded in the python environment, that has also been provided for you. You can find it on the right panel in the Files section. Do NOT delete any of the files/folders listed there.

The whole exercise has been divided into nine separate notebooks. Below are the links to all the other notebooks for you to jump from one notebook to another:

- **Pandas**

1. Pandas Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-1-d693ac55-6455-40cf-ae34-867c6a02014e/%2Fnotebook.ipynb) 
2. Pandas Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-dataset-7e3b6755-5d4b-464b-9b75-9c84667ae3bd/%2Fnotebook.ipynb) 

3. Pandas Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-part-2-adc5a3ee-5f61-4725-8e46-ccb07899acfc/%2Fnotebook.ipynb) **(This Notebook)** 

4. Pandas Notebook 4: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-after-employee-f84e02a1-fb6a-428e-af90-8dd99855749a/%2Fnotebook.ipynb)

- **NumPy**

1. NumPy Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Numpy-part-1-9b9979f2-b708-4292-b466-3d0157564c91/%2Fnotebook.ipynb)

2. NumPy Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-2-4456411e-2ddd-426d-8027-4881080027db/%2Fnotebook.ipynb)

3. NumPy Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-3-e6587114-b580-4249-b599-540de859e603/%2Fnotebook.ipynb)

- **SQL**

1. SQL Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-1-eac9d782-a9b1-4e84-a1f9-af14080a6121/%2Fnotebook.ipynb)

2. SQL Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-2-1914b214-be03-44a1-be63-ad99e98be639/%2Fnotebook.ipynb)

## How to use this notebook?

At the top right corner, you will find a Duplicate button. This will allow you to create a unique notebook for your own practice and write solutions to the question listed in this notebook.

If you face any issues or have any feedback, feel free to reach out to me (Avi Chawla) either on Linkedin: https://www.linkedin.com/in/avi-chawla/ or write an email to avi@dailydoseofds[dot]com.

Let's begin ðŸš€!

# Pandas Notebook 3

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("employee_dataset.csv")
data.head()

### 91. What is the ratio of total full-time employees to Interns?

### 92. Starting from the first record, print every third record in the DataFrame.

Print 1st row, then 4th, 7th, 10th, and so on...

### 93. Find the average salary for every company.

### 94. Find the average rating for every company.

### 95. Find the average salary and average rating for every company in a single line.

### 96. Find the number of unique Employee_City corresponding to every Company_Name.

### 98. Print the number of full-time and intern employees for every company

### 99. Print the job title with the most employees.

### 100. Print the job title with the most employees corresponding to every company.

### 101. Find the average salary for corresponding to every value of 'Employment_Status'

### 102. Print the index corresponding to the maximum Employee_Salary

### 103. How many unique firstnames exist in the dataset?

### 104. How many unique lastnames exist in the dataset?

### 105. How many unique firstnames exist in the dataset for every company?

### 106. Are there any rows for the employee name 'Michael Edward'? Print True or False

### 107. Check if the substring 'Michael Edward' appears in the Name column or not.

### 108. How many unique Job titles start with the substring 'Pr' (case-sensitive matching)

### 109. How many unique Job titles start with the substring 'Pr' (case-insensitive matching)

### 109. How many records are there whose Country end with the substring 'urt' (case-insensitive matching)

### 110. Print the number of records whose company name contains the substring 'LL' (case-insensitive).

### 111. Select the first row corresponding to every company in the dataframe

### 112. Select the last row corresponding to every company in the dataframe

### 113. Reset the index of the dataframe inplace and delete the older index values.

### 114. Print the type of the DataFrame object.

### 115. Add a new row at the bottom of the DataFrame.

In [ ]:
new_row = ["Chris Anders", "Scott Inc", "Production engineer", "Wardfort", "Anguilla", 343930, "Full Time", 3.3]

### 116. Print the new shape of the DataFrame.

### 117. Add a new column "Employee_Rating_New" which should be as follows:

Employee_Rating_New = max(1.5, 2*Employee_Rating - 3)

### 118. Convert the entire DataFrame to a list of lists. Do NOT overwrite to the current dataframe object.

In [ ]:
df_list = # Your code here

### 119. Convert the 'Name' to upper case and store it back to the same column.

### 120. Rearrange the columns in the below order. Overwrite to the current DataFrame object.

In [ ]:
new_order = ["Name", "Employee_Job_Title", "Company_Name", 
             "Employee_City", "Employee_Country", "Employment_Status", 
             "Employee_Salary", "Employee_Rating", "Employee_Rating_New"]

df = ## Write your code here

### 121. Add a New column of 'First_name' and compute it from the 'Name' column

### 122. Add a New column of 'Last_name' and compute it from the 'Name' column

### 123. Drop the 'Name' column inplace from the DataFrame.

### 124. Rearrange the columns in the below order. Overwrite to the current DataFrame object.

In [ ]:
new_order = ["First_name", "Last_name", "Employee_Job_Title", "Company_Name", 
             "Employee_City", "Employee_Country", "Employment_Status", 
             "Employee_Salary", "Employee_Rating", "Employee_Rating_New"]

df = ## Write your code here

### 125. Compute the cosine similarity between the series 'Employee_Rating' and 'Employee_Rating_New'

### 126. Rename the columns and store to a new DataFrame 'df_renamed':

1. Employee_Rating -> Rating
2. Employee_Country -> Country
3. Employee_Salary -> Salary
4. Employee_Rating_New -> Rating_New
5. Employment_Status -> Employment_type
6. Employment_City -> City

In [ ]:
df_renamed = # Your code here.

### 127. Rename the columns (inplace):

1. Employee_Rating -> Rating
2. Employee_Country -> Country
3. Employee_Salary -> Salary
4. Employee_Rating_New -> Rating_New
5. Employment_Status -> Employment_type
6. Employment_City -> City

### 128. Count the number of NaN values in each column

### 129. Write a function that takes the employee_salary and returns:

1. "High" if the salary is >= 600000
2. "Medium" if the salary is > 300000 and < 600000
3. "Low" otherwise.

Hint: Use the apply() method.

**Store the returned series to a new column 'Salary_category'.**

### 130. Print the count distribution of the 'Salary_category' column.

### 131.  Map every Company_Name to a unique integer value. Name the new column "Company_ID".

For instance, if the data has 5 companies, "Company A" -> 1, "Company B" -> 2, "Company C" -> 3, "Company D" -> 4, "Company E" -> 5.

### 132. Generate one-hot lables for the 'Employment_type' column. You don't have to add this as a column to the DataFrame.

### 133. Print the number of rows where 'City' belongs to the following list of cities.

Use the isin() method.

In [ ]:
city_filter_list = ["New Russellton", "Whiteside", "Kristaburgh"]

row_count = ## Your code here

print(row_count)

### 134. Print the name of the person with the 10th largest salary.

### 135. Print the name of the person with the 10th largest salary. If there are multiple people with the same salary, print all names.

### 136. Print a cross tabulation of Company Name and Employment Type.

### 137. Print the standard deviation of the Salary column.

### 138. Iterates over the DataFrame's first five rows and print the Company Name

Note: You have to write a for loop here explicitly and iterate.

### 139. Select the last row corresponding to every City in the dataframe

### 140. Sort the dataframe on Employee salary column (inplace).

### 141. The task above has distorted the indexing. Reset the index inplace and drop the current index.

### 142. Now check whether the Salary column is monotonically increasing or not.

### 143-145. Print the 25th, 50th and 75th percentile of the Salary column

### 146. Plot a scatter plot between the Salary column and Rating.

### 147. Distribute the Salary column in 10 equal sized bins.

### 148. Convert the Salary column to numpy array

### 149. Convert the Rating column to numpy array

### 150. Compute the cosine similarity between the numpy arrays created in 148 and 149.

Great job solving this notebook. Go to Pandas Notebook 4: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-after-employee-f84e02a1-fb6a-428e-af90-8dd99855749a/%2Fnotebook.ipynb)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=adc5a3ee-5f61-4725-8e46-ccb07899acfc' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>